// 사이트 네비게이션
header > div.top {
    
    border-bottom: black solid 1px;

    > div.container {
    
        > nav[data-role=site] {
            display: inline-block;
            height: 30px;
            text-align: left;
            font-size: 0;
            
            > a {
                display: inline-block;
                height: 40px;
                font-size: 13px;
                color: #fff;
                line-height: 40px;
                text-decoration: none;
                padding: 0px 15px;
                vertical-align: middle;
            }
        }

        // 상단 로그인 위젯
        > div[data-widget=member-login] {
            max-width: calc(100% - 320px);
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            font-size: 0;
            float: right;
            text-align: left;
        }
    }
}