 /**
  * 서브페이지 좌측 네비게이션 및 컨텐츠 영역
  */
main.subpage > div.container > div.context {
    display: table;
    width: 100%; 
    table-layout: fixed;

    > nav {
        display: table-cell;
        width: 220px;
        vertical-align: top;
        padding-bottom: 20px;
        border-left: 1px solid #dbdbdb;
        border-right: 1px solid #dbdbdb;

        > h2 {
            width: 100%;
            height: 100px;
            line-height: 100px;
            font-size: 24px;
            text-align: center;
            border-top: 0px solid #046b40;
            padding-top: 25px;
        }

        > ul {
            list-style: none;

            > li {
                &:first-child {
                    border-top: 1px solid #e3e4e6;    
                }
                border-bottom: 1px solid #e3e4e6;

                > a {
                    display: block;
                    width: 100%;
                    line-height: 24px;
                    padding: 13px 25px;
                    box-sizing: border-box;
                    text-decoration: none;
                    color: #666;
                    font-size: 14px;
                }

                &:hover {
                    background: #edeff0;

                    > a {
                        color: #24b1dc;
                    }
                }

                &.selected {
                    background-color: #24b1dc;
                    border-bottom: 1px solid #24b1dc;

                    > a {
                        color: #fff;
                    }
                }
            }
        }
    }

    > section {
        padding: 0px 0px 20px 60px;

        > h3 {
            height: 100px;
            padding-left: 0px;
            line-height: 100px;
            font-size: 30px;
            padding-top: 25px;
            border-bottom: 1px solid #dbdbdb;
            margin-bottom: 20px;
        }
    }
}